html body .kaiser .main-content .area .article-block .big-articles {
  border-bottom: 1px solid #ccc;
  padding-bottom: 40px;
}
html body .kaiser .main-content .area .third-block h1 span{
  font-size: 36px;
  line-height: 43px;
}
html body .kaiser .main-content .area .article-block .big-articles .big-articles-img {
  width: 100%;
}
html body .kaiser .main-content .area .article-block .big-articles .big-articles-img img {
  width: 100%;
}
html body .kaiser .main-content .area .article-block .big-articles .has-tag-shopkp {
  position: relative;
}
html body .kaiser .main-content .area .article-block .big-articles .has-tag-shopkp:before {
  content: "";
  height: 64px;
  width: 152px;
  left: 10px;
  bottom: 15px;
  text-align: center;
  background: url("../img/shop-kp/shop-kp-logo.png");
  -webkit-background-size: 152px;
  -moz-background-size: 152px;
  background-size: 152px;
  position: absolute;
  z-index: 10;
}
html body .kaiser .main-content .area .article-block .big-articles .big-articles-text h3 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 30px;
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
}
html body .kaiser .main-content .area .article-block .big-articles .big-articles-text h3:hover a {
  text-decoration: underline;
}
@media (max-width: 767px) {
  html body .kaiser .main-content .area .article-block .big-articles .big-articles-text h3 {
    zoom: 1;
    font-size: 18px;
    line-height: 24px;
    padding-left: 20px;
    padding-right: 20px;
  }
  html body .kaiser .main-content .area .article-block .big-articles .big-articles-text h3:before,
  html body .kaiser .main-content .area .article-block .big-articles .big-articles-text h3:after {
    content: "";
    display: table;
  }
  html body .kaiser .main-content .area .article-block .big-articles .big-articles-text h3:after {
    clear: both;
  }
}
html body .kaiser .main-content .area .article-block .big-articles .big-articles-text h3 a {
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
  padding-right: 20px;
  display: block;
  text-decoration: none;
  color: #000;
}
@media (max-width: 767px) {
  html body .kaiser .main-content .area .article-block .big-articles .big-articles-text h3 a {
    font-size: 18px;
    line-height: 24px;
  }
}
html body .kaiser .main-content .area .article-block .big-articles .big-articles-text .text-holder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}
html body .kaiser .main-content .area .article-block .big-articles .big-articles-text .text-holder p {
  margin-bottom: 10px;
}
html body .kaiser .main-content .area .article-block .big-articles .big-articles-text .text-holder p a {
  color: #006ba6;
  font-weight: 700;
  text-decoration: none;
}
@media (max-width: 767px) {
  html body .kaiser .main-content .area .article-block .big-articles .big-articles-text .text-holder {
    padding-left: 20px;
    padding-right: 20px;
  }
}
html body .kaiser .main-content .area .article-block .big-articles .button {
  font-family: 'Gotham Medium', 'Verdana', 'Avenir';
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  line-height: 40px;
  margin-bottom: 40px;
  margin-top: 20px;
  display: block;
  width: 260px;
  max-width: 100%;
  height: 40px;
  text-align: center;
  color: #fff;
  padding-left: 10px;
  background-color: #0079aa;
}
html body .kaiser .main-content .area .article-block .big-articles .button:hover,
html body .kaiser .main-content .area .article-block .big-articles .button:active,
html body .kaiser .main-content .area .article-block .big-articles .button:focus {
  background: #003b6c;
  text-decoration: underline;
}
@media (max-width: 767px) {
  html body .kaiser .main-content .area .article-block .big-articles .button {
    margin-left: auto;
    margin-right: auto;
  }
}
html body .kaiser .main-content .area .article-block .big-articles .note {
  font-size: 13px;
}
@media (max-width: 767px) {
  html body .kaiser .main-content .area .article-block .big-articles .note {
    padding-left: 20px;
    padding-right: 20px;
  }
}
html body .kaiser .main-content .kp-events .kp-event-big {
  padding: 60px 0;
  border-top: 1px solid #ccc;
}
html body .kaiser .main-content .kp-events .kp-event-big:after {
  content: '';
  display: table;
  clear: both;
}
html body .kaiser .main-content .kp-events .kp-event-big .picture {
  float: left;
  width: 35%;
  text-align: left;
}
@media (max-width: 767px) {
  html body .kaiser .main-content .kp-events .kp-event-big .picture {
    height: auto;
    width: 100%;
  }
}
html body .kaiser .main-content .kp-events .kp-event-big .picture img {
  padding-left: 30px;
  width: 89%
}
@media (max-width: 767px) {
  html body .kaiser .main-content .kp-events .kp-event-big .picture img {
    width: 100%;
    padding-left: 0;
  }
}
html body .kaiser .main-content .kp-events .kp-event-big .text {
  float: left;
  width: 54%;
  padding-left: 40px;
}
@media (max-width: 767px) {
  html body .kaiser .main-content .kp-events .kp-event-big .text {
    width: 100%;
    padding-left: 0;
  }
}
html body .kaiser .main-content .kp-events .kp-event-big .text h2 {
  text-align: left;
}
html body .kaiser .main-content .kp-events .kp-event-big .text .hr {
  padding-top: 20px;
}
html body .kaiser .main-content .kp-events .kp-event-big .text .hr:after {
  content: '';
  display: table;
  clear: both;
}
html body .kaiser .main-content .kp-events .kp-event-big .text .hr hr {
  height: 2px;
  width: 100px;
  background-color: #0079aa;
  border:none;
  float: left;
}
html body .kaiser .main-content .kp-events .kp-event-big .text .text-content h2 {
  padding-top: 20px;
  padding-bottom: 3px;
  display: inline-block;
}
html body .kaiser .main-content .kp-events .kp-event-big .text .text-content h2,
html body .kaiser .main-content .kp-events .kp-event-big .text p {
  line-height: 22px;
}
html body .kaiser .main-content .kp-events .kp-event:last-child {
  margin-bottom: 60px;
}
html body .kaiser .main-content .kp-events .kp-event .text h2{
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  margin-bottom: 15px;
}
html body .kaiser .main-content .h2{
  font-size: 36px;
  line-height: 43px;
}
.txt-normal{
   font-family: 'Gotham Medium', Verdana, Avenir;
   font-size: 14px;
   font-weight: bold;
}
.l-offscreen{
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
html body .kaiser .main-content .kp-events .kp-event .picture{
  text-align: left;
  padding-left: 30px;
  height: auto;
  width:27%;
}
@media (max-width: 767px){
  html body .kaiser .main-content .kp-events .kp-event .picture{
    padding-left: 0;
    width:100%;
  }
}
html body .kaiser .main-content .kp-events .kp-event .picture img{
  width: 100%;
  max-width: 100%;
  height:auto;
}
html body .kaiser .main-content .shop-kp .third-block img{
  width:30%;
  margin-bottom: 10px;
}
html body .kaiser .main-content .shop-kp.northern-california .third-block p{
  margin-top:0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding-top: 0px;
  line-height: 30px;
  font-size:20px;
}
html body .kaiser .main-content .shop-kp.northern-california .third-block p.lange-change{
  margin-bottom: 50px;
}
html body .kaiser .main-content .shop-kp .button{
  margin-bottom: 0px!important;
}
html body .kaiser .main-content .shop-kp .third-block .g-sub-title-block :last-child{
  margin-bottom: 60px;
}
html body .kaiser .main-content .shop-kp .kp-event .text span.caption{
  font-size: 14px;
  line-height: 22px;
}
html body .kaiser .main-content .shop-kp .fourth-block .our-locations-block h2+p{
  font-size: 20px;
  line-height: 30px;
}