
<div data-js-popup="popup-select-region" tabindex="0" aria-labelledby="popup-select-region" aria-hidden="true" class="m-popup text-center"><span id="popup-select-region" class="l-offscreen">Select region popup</span>
  <div class="popup-header"><a data-js-ada-keydown="close-btn" aria-label="Close popup" role="button" tabindex="0" class="popup-btn-close js-popup-btn-close l-float-right img-w-fluid"><img src="./static/img/icons/color/close.png" alt="close popup" class="ic-close"/></a>
    <div tabindex="0" class="popup-title js-popup-title l-margin-top-40">
      <h2 class="h5 l-inline text-bold text-black text-fs20 text-lh26">Select a region near you</h2>
    </div>
  </div>
  <div tabindex="-1" class="popup-content no-outline js-popup-content">
    <div data-js-region-select="data-js-region-select" data-js-ada-navigation="nav-select-region" class="text-center list-no-style">     
      <ul> 
        <li><a data-region-code="NCA" href="#" class="link-formatted text-lh40 js-focus-popup-content-first">Northern California</a>
        </li>
        <li><a data-region-code="SCA" href="#" class="link-formatted text-lh40">Southern California</a>
        </li>
        <li><a data-region-code="CO" href="#" class="link-formatted text-lh40">Colorado</a>
        </li>
        <li><a data-region-code="GA" href="#" class="link-formatted text-lh40">Georgia</a>
        </li>
        <li><a data-region-code="HAW" href="#" class="link-formatted text-lh40">Hawaii</a>
        </li>
        <li><a data-region-code="NW" href="#" class="link-formatted text-lh40">Northwest</a>
        </li>
        <li><a data-region-code="MID" href="#" class="link-formatted text-lh40 js-focus-popup-content-last">Mid-Atlantic States</a>
        </li>
      </ul>
    </div>
  </div><span tabindex="0" class="l-offscreen js-focus-last">End of popup.</span>
</div>