
<div class="first-block">
  <p class="location dynamic-bg">Discover Kaiser Permanents in:</p>
  <div class="area-selector-container">
    <div class="select-container dynamic-border">
      <div class="arrow-bg"></div>
      <label for="location_select_top">Select a Region</label>
      <select id="location_select_top" title="Select a Region">
        <option>Northern California</option>
        <option>Southern California</option>
        <option>Colorado-Denver/Boulder</option>
        <option>Colorado-Mountain Region</option>
        <option>Northern Colorado</option>
        <option>Southern Colorado</option>
        <option>Georgia</option>
        <option>Hawaii</option>
        <option>Mid-Atlantic States</option>
        <option>Northwest</option>
      </select>
      <button role="combobox" aria-labelledby="region-label" tabindex="0" aria-expanded="false" aria-controls="dynamicBorder" class="select-region-button"></button><span class="link-select-region dynamic-color">City name</span><span id="region-label" class="offscreen">Select a Region</span>
      <div class="ul-bg"></div>
      <ul id="dynamicBorder" aria-hidden="true" class="dynamic-border">
        <li data-value="Northern California" class="dynamic-color"><a aria-selected="false" href="#" alt="Link Northern California" class="dynamic-color">Northern California</a></li>
        <li data-value="Southern California" class="dynamic-color"><a aria-selected="false" href="#" alt="Link Southern California" class="dynamic-color">Southern California</a></li>
        <li data-value="Colorado-Denver/Boulder" class="dynamic-color"><a aria-selected="false" href="#" alt="Link Colorado-Denver/Boulder" class="dynamic-color">Colorado-Denver/Boulder</a></li>
        <li data-value="Colorado-Mountain Region" class="dynamic-color"><a aria-selected="false" href="#" alt="Link Colorado-Mountain Region" class="dynamic-color">Colorado-Mountain Region</a></li>
        <li data-value="Northern Colorado" class="dynamic-color"><a aria-selected="false" href="#" alt="Link Northern Colorado" class="dynamic-color">Northern Colorado</a></li>
        <li data-value="Southern Colorado" class="dynamic-color"><a aria-selected="false" href="#" alt="Link Southern Colorado" class="dynamic-color">Southern Colorado</a></li>
        <li data-value="Georgia" class="dynamic-color"><a aria-selected="false" href="#" alt="Link Georgia" class="dynamic-color">Georgia</a></li>
        <li data-value="Hawaii" class="dynamic-color"><a aria-selected="false" href="#" alt="Link Hawaii" class="dynamic-color">Hawaii</a></li>
        <li data-value="Mid-Atlantic States" class="dynamic-color"><a aria-selected="false" href="#" alt="Link Mid-Atlantic States" class="dynamic-color">Mid-Atlantic States</a></li>
        <li data-value="Northwest" class="dynamic-color"><a aria-selected="false" href="#" alt="Link Northwest" class="dynamic-color">Northwest</a></li>
      </ul>
    </div>
  </div>
  <div class="gb-top-block"></div>
  <div style="background-image: url(http://thrive.proferochina.com/wp-content/uploads/2014/07/8c02bd42e894f888f975.jpg);" class="special-olympic-banner first"><span class="special-olympic-headline">THE OFFICIAL HEALTH PARTNER OF THE SPECIAL OLYMPICS WORLD GAMES</span></div>
  <div class="gb-bread-crumbs">
    <ol>
      <li><a href="#">Home</a><span>&gt;</span></li>
      <li class="last"><a href="#">Northern California</a></li>
    </ol>
  </div>
</div>
<div class="second-block">
  <div class="gb-content-width p20 g-sub-title-block">
    <h1>Care and Coverage Together</br><span class="h2">for an Even better Bay Area</span></h1>
  </div>
  <div class="img-container"><img src="./static/img/homepage/gb-top.png" alt="" class="only-mobile"/></div>
  <div class="gb-content-width p20 g-sub-title-block">
    <p>Across Northern California we strive to provide high-quality, health care services to improve the health of our members and help our community thrive.</p>
  </div>
</div>
<div class="third-block">
  <div class="gb-content-width p20">
    <div class="regions-list">
      <h3>Choose the area that is most convenient to you</h3>
      <ul>
        <li><a href="#">Alameda</a></li>
        <li><a href="#">Antioch</a></li>
        <li><a href="#">Campbell</a></li>
        <li><a href="#">Clovis</a></li>
        <li><a href="#"><span>Daly </span><span class="second-line">City</span></a></li>
        <li><a href="#">Davis</a></li>
        <li><a href="#"><span>Elk </span><span class="second-line">Grove</span></a></li>
        <li><a href="#">Fairfield</a></li>
        <li><a href="#">Folsom</a></li>
        <li><a href="#">Fremont</a></li>
        <li><a href="#">Fresno</a></li>
        <li><a href="#">Gilroy</a></li>
        <li><a href="#">Hayward</a></li>
        <li><a href="#">Lincoln</a></li>
        <li><a href="#">Livermore</a></li>
        <li><a href="#">Manteca</a></li>
        <li><a href="#">Martinez</a></li>
        <li><a href="#">Milpitas</a></li>
        <li><a href="#">Modesto</a></li>
        <li><a href="#"><span>Mountain </span><span class="second-line">View</span></a></li>
        <li><a href="#">Napa</a></li>
        <li><a href="#">Novato</a></li>
        <li><a href="#">Oakhurst</a></li>
        <li><a href="#">Oakland</a></li>
        <li><a href="#">Petaluma</a></li>
        <li><a href="#">Pinole</a></li>
        <li><a href="#">Pleasanton</a></li>
        <li><a href="#"><span>Rancho </span><span class="second-line">Cordova</span></a></li>
        <li><a href="#"><span>Redwood </span><span class="second-line">City</span></a></li>
        <li><a href="#">Richmond</a></li>
        <li><a href="#"><span>Rohnert </span><span class="second-line">Park</span></a></li>
        <li><a href="#">Roseville</a></li>
        <li><a href="#">Sacramento</a></li>
        <li><a href="#"><span>San </span><span class="second-line">Bruno</span></a></li>
        <li><a href="#"><span>San </span><span class="second-line">Francisco</span></a></li>
        <li><a href="#"><span>San </span><span class="second-line">Jose</span></a></li>
        <li><a href="#"><span>San </span><span class="second-line">Leandro</span></a></li>
        <li><a href="#"><span>San </span><span class="second-line">Mateo</span></a></li>
        <li><a href="#"><span>San </span><span class="second-line">Rafael</span></a></li>
        <li><a href="#"><span>San </span><span class="second-line">Ramon</span></a></li>
        <li><a href="#"><span>Santa </span><span class="second-line">Clara</span></a></li>
        <li><a href="#"><span>Santa </span><span class="second-line">Rosa</span></a></li>
        <li><a href="#">Selma</a></li>
        <li><a href="#"><span>South </span><span class="second-line">Sacramento</span></a></li>
        <li><a href="#"><span>South San </span><span class="second-line">Francisco</span></a></li>
        <li><a href="#">Stockton</a></li>
        <li><a href="#"><span>Union </span><span class="second-line">City</span></a></li>
        <li><a href="#">Vacaville</a></li>
        <li><a href="#">Vallejo</a></li>
        <li><a href="#"><span>Walnut </span><span class="second-line">Creek</span></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="fourth-block">
  <div class="gb-content-width p20">
    <h2>In the spotlight</h2>
  </div>
</div>
<div class="article-block">
  <div class="gb-content-width p20">
    <div class="kiwi-grid">
      <div class="kiwi-col l-3-5 s-1">
        <div class="big-articles">
          <div class="big-articles-img has-tag-shopkp"><a href="#"><img src="./static/img/area/article-left-big.png" alt="Shop KP"/></a></div>
          <div class="big-articles-text">
            <h3><a href="#">Open Enrollment is back</a><span class="offscreen">external page</span></h3>
            <div class="text-holder">
              <div class="color-separator dynamic-bg"></div>
              <p>As November 1st approaches make sure you understand all the ways Kaiser Permanente can help you and your family thrive. Keep in mind, open enrollment closes January 31, 2016.</p>
              <p>Whether you`re interested in finding coverage or changing your existing plan, visit one of our Shop KP* locations to learn about the health coverage that`s right for you. We even have one-on-one appointment to give you the attention you deserve.</p>
              <p>For locations and hours visit  <a href="/">shopkp.org</a>. We look forward to meeting you.</p>
            </div>
          </div><a href="#" class="button">Make an Appointment</a>
          <p class="note">*Please note: No medical services are provided in our Shop KP stores.</p>
        </div>
        <div class="articles-container">
          <div class="article-elem is-external">
            <div class="picture-holder has-tag-corner"><a href="#"><img src="./static/img/area/article-left-pic.png" alt="link name undefined"/></a></div>
            <h3><a href="#">Lorem Ipsum has been the industry's</a><span class="offscreen">external page</span></h3>
            <div class="text-holder">
              <div class="color-separator dynamic-bg"></div>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
              </p><a href="#">Learn more ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="kiwi-col l-2-5 s-1 side-right-container">
        <div class="label-link">
          <ul>
            <li tabindex="0" class="link-1"><a href="#" tabindex="-1"><span class="ico"></span>Shop Our Plons</a></li>
            <li tabindex="0" class="link-2"><a href="#" tabindex="-1"><span class="ico"></span>Find a Doctor</a></li>
            <li tabindex="0" class="link-3"><a href="#" tabindex="-1"><span class="ico"></span>Locate Facility</a></li>
            <li tabindex="0" class="link-4"><a href="#" tabindex="-1"><span class="ico"></span>Urgent Care</a></li>
          </ul>
        </div>
        <div class="gradient-block">
          <div class="pad-content">
            <p class="num">8,000</p>
            <p class="num-type">Doctors in</p>
            <p class="num">237</p>
            <p class="num-type">Locations</p>
          </div>
        </div>
        <div class="gradient-block">
          <div class="pad-content">
            <h3>LOCAL NEWS</h3>
            <ul class="local-news-icon">
              <li><a href="3">How Eliminating Waste and Opening Data Helped Create a “No Wait” ER</a><span class="offscreen">external page</span></li>
              <li><a href="3">117-Year-Old Oakland Man Receives New Bed</a><span class="offscreen">external page</span></li>
              <li><a href="3">Overcoming Cultural Obstacles to Mental Illness Treatment</a><span class="offscreen">external page</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="./static/js/ate.js"></script>
<script src="./static/js/countdown.js"></script>
<script src="./static/js/remindMe.js"></script>
<script src="./static/js/modernizr.js"></script>