<a href="#" class="gb-back-button dynamic-bg"> <span>&lsaquo;</span>Back</a>
<div class="first-block">
  <p class="location dynamic-bg">Discover Kaiser Permanents in:</p>
  <div class="area-selector-container">
    <div data-js-ada-region-select="data-js-ada-region-select" role="application" aria-label="Region selection listbox" class="select-container dynamic-border">
      <div class="arrow-bg"></div>
      <label for="location_select_top">Select a Region</label>
      <select id="location_select_top" title="Select a Region">
        <option>Northern California</option>
        <option>Southern California</option>
        <option>Colorado</option>
        <option>Georgia</option>
        <option>Hawaii</option>
        <option>Northwest</option>
        <option>Mid-Atlantic States</option>
      </select>
      <button role="listbox" tabindex="0" aria-expanded="false" aria-controls="dynamicBorder" aria-label="Select a Region" class="select-region-button"></button><span class="js-selected-region-name link-select-region dynamic-color">City name<i aria-hidden="true" class="arrow-icon"></i></span><span aria-hidden="true" id="region-label" class="l-offscreen">Select a Region</span>
      <div class="ul-bg js-presentation-ul"></div>
      <ul id="dynamicBorder" aria-hidden="true" class="dynamic-border js-listbox-ul">
        <li data-value="Northern California" role="presentation" class="dynamic-color"><a href="#" aria-label="Northern California link" role="option" class="dynamic-color">Northern California</a></li>
        <li data-value="Southern California" role="presentation" class="dynamic-color"><a href="#" aria-label="Southern California link" role="option" class="dynamic-color">Southern California</a></li>
        <li data-value="Colorado" role="presentation" class="dynamic-color"><a href="#" aria-label="Colorado link" role="option" class="dynamic-color">Colorado</a></li>
        <li data-value="Georgia" role="presentation" class="dynamic-color"><a href="#" aria-label="Georgia link" role="option" class="dynamic-color">Georgia</a></li>
        <li data-value="Hawaii" role="presentation" class="dynamic-color"><a href="#" aria-label="Hawaii link" role="option" class="dynamic-color">Hawaii</a></li>
        <li data-value="Northwest" role="presentation" class="dynamic-color"><a href="#" aria-label="Northwest link" role="option" class="dynamic-color">Northwest</a></li>
        <li data-value="Mid-Atlantic States" role="presentation" class="dynamic-color"><a href="#" aria-label="Mid-Atlantic States link" role="option" class="dynamic-color">Mid-Atlantic States</a></li>
      </ul>
    </div>
  </div>
  <div class="gb-bread-crumbs">
    <ol>
      <li><a href="#">Home</a><span>&gt;</span></li>
      <li class="last"><a href="#">Sub link</a></li>
    </ol>
  </div>
</div>
<div class="second-block">
  <ul>
    <li class="link-1"><a href="#">Shop Our Plons</a></li>
    <li class="link-2"><a href="#">Find a Doctor</a></li>
    <li class="link-3"><a href="#">Locate Facility</a></li>
    <li class="link-4"><a href="#">Urgent Care</a></li>
  </ul>
</div>
<div class="third-block">
  <div class="gb-content-width p20">
    <h1>text 1</h1>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
      when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    </p>
  </div>
</div>
<section class="video">
  <div class="gb-content-width p20">
    <div class="g-single-video"><a href="https://www.youtube.com/embed/d4cmEIEk0WA?autoplay=1&amp;enablejsapi=1&amp;rel=0&amp;showinfo=0&amp;autohide=1&amp;color=white&amp;theme=light" target="_bank" class="mobile-video-link">watch video on youtube</a>
      <div class="video-container">
        <button class="close-video-button">Close video</button>
        <div class="data-container"><img src="./static/img/employer/video-bg.png" alt=""/>
          <div class="bg-content dynamic-bg">
            <h3 class="bolder"><span class="bold">Lorem Ipsum </span><br/>Lorem Ipsum is simply dummy text of</h3><a data-src="d4cmEIEk0WA" href="#" class="play-video">WATCH THE VIDEO</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="fourth-block">
  <div class="gb-content-width p20">
    <p class="main-text">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
      when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    </p>
    <section class="info-doctor">
      <div class="kiwi-grid">
        <div class="kiwi-col l-1-3 s-1">
          <h3>WE'RE HERE FOR YOU:</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
          </p>
        </div>
        <div class="kiwi-col l-1-3 s-1">
          <h3>OUR REPUTABLE DOCTORS:</h3>
          <ul>
            <li>Lorem Ipsum is simply dummy</li>
            <li>Lorem Ipsum is simply dummy</li>
            <li>Lorem Ipsum is simply dummy</li>
            <li>Lorem Ipsum is simply dummy</li>
          </ul>
          <div class="asterisk">*Lorem Ipsum is simply dummy text</div>
        </div>
        <div class="kiwi-col l-1-3 s-1 side-panel">
          <div class="side-panel__content follow-block"> 
            <h3>FOLLOW US</h3>
            <ul>
              <li><a href="https://twitter.com/kphawaii" class="twitter"></a></li>
              <li><a href="https://www.facebook.com/KPHawaii" class="facebook"> </a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<section class="search-locations">
  <div class="gb-content-width p20">
    <div class="doctor-tool"><img src="./static/img/icons/color/doctor-hawaii.png" alt=""/></div>
    <h2>There are more than <br/>XX Kaiser Permanente Doctors in the Hawaii Area</h2>
    <p class="search-link"><a href="#">Search all of our doctors<span><img src="./static/img/icons/white/external-link.png" alt=""/></span></a></p>
  </div>
</section>
<script src="./static/js/gSingleVideo.js"></script>
<script>initSingleVideo('.g-single-video');</script>