
<div class="first-block">
  <p class="location dynamic-bg">Discover Kaiser Permanents in:</p>
  <div class="area-selector-container">
    <div data-js-ada-region-select="data-js-ada-region-select" role="application" aria-label="Region selection listbox" class="select-container dynamic-border">
      <div class="arrow-bg"></div>
      <label for="location_select_top">Select a Region</label>
      <select id="location_select_top" title="Select a Region">
        <option>Northern California</option>
        <option>Southern California</option>
        <option>Colorado</option>
        <option>Georgia</option>
        <option>Hawaii</option>
        <option>Northwest</option>
        <option>Mid-Atlantic States</option>
      </select>
      <button role="listbox" tabindex="0" aria-expanded="false" aria-controls="dynamicBorder" aria-label="Select a Region" class="select-region-button"></button><span class="js-selected-region-name link-select-region dynamic-color">City name<i aria-hidden="true" class="arrow-icon"></i></span><span aria-hidden="true" id="region-label" class="l-offscreen">Select a Region</span>
      <div class="ul-bg js-presentation-ul"></div>
      <ul id="dynamicBorder" aria-hidden="true" class="dynamic-border js-listbox-ul">
        <li data-value="Northern California" role="presentation" class="dynamic-color"><a href="#" aria-label="Northern California link" role="option" class="dynamic-color">Northern California</a></li>
        <li data-value="Southern California" role="presentation" class="dynamic-color"><a href="#" aria-label="Southern California link" role="option" class="dynamic-color">Southern California</a></li>
        <li data-value="Colorado" role="presentation" class="dynamic-color"><a href="#" aria-label="Colorado link" role="option" class="dynamic-color">Colorado</a></li>
        <li data-value="Georgia" role="presentation" class="dynamic-color"><a href="#" aria-label="Georgia link" role="option" class="dynamic-color">Georgia</a></li>
        <li data-value="Hawaii" role="presentation" class="dynamic-color"><a href="#" aria-label="Hawaii link" role="option" class="dynamic-color">Hawaii</a></li>
        <li data-value="Northwest" role="presentation" class="dynamic-color"><a href="#" aria-label="Northwest link" role="option" class="dynamic-color">Northwest</a></li>
        <li data-value="Mid-Atlantic States" role="presentation" class="dynamic-color"><a href="#" aria-label="Mid-Atlantic States link" role="option" class="dynamic-color">Mid-Atlantic States</a></li>
      </ul>
    </div>
  </div>
  <div class="gb-bread-crumbs">
    <ol>
      <li><a href="#">Home</a><span>&gt;</span></li>
      <li class="last"><a href="#">Sub link</a></li>
    </ol>
  </div>
</div>
<div class="second-block">
  <ul>
    <li class="link-1"><a href="#">Shop Our Plons</a></li>
    <li class="link-2"><a href="#">Find a Doctor</a></li>
    <li class="link-3"><a href="#">Locate Facility</a></li>
    <li class="link-4"><a href="#">Urgent Care</a></li>
  </ul>
</div>
<section class="featured-location-detail">
  <div class="gb-content-width p40">
    <div class="kiwi-grid">
      <div class="kiwi-col l-3-4 s-1">
        <div class="left-block">
          <div class="left-block-content">
            <div class="main-picture">
              <div class="slider-container">
                <div class="swipe">
                  <div class="swipe-wrap">
                    <div class="slide-holder"><img src="./static/img/featured-location/main.png" alt=""/></div>
                    <div class="slide-holder"><img src="./static/img/featured-location/main.png" alt=""/></div>
                  </div>
                </div>
                <div class="dots"></div>
              </div>
            </div>
            <h1 class="article-detail-title">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h1>
            <div class="g-share">
              <ul class="desktop">
                <li><span>Share this:</span></li>
                <li><a href="#" class="facebook-link">FACEBOOK</a></li>
                <li><a href="#" class="twitter-link">TWITTER</a></li>
                <li><a href="#" class="email-link">EMAIL</a></li>
              </ul>
              <ul class="mobile">
                <li><span>Share this:</span></li>
                <li><a href="#"><img src="./static/img/global/share-facebook.png" alt=""/></a></li>
                <li><a href="#"><img src="./static/img/global/share-twitter.png" alt=""/></a></li>
                <li><a href="#"><img src="./static/img/global/share-mail.png" alt=""/></a></li>
              </ul>
            </div>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
              It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br/><br/>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
              It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
              It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
            <div class="video-holder">
              <iframe src="https://www.youtube.com/embed/DWHDlsvw34I?autoplay=0&amp;enablejsapi=1&amp;rel=0&amp;showinfo=0&amp;autohide=1&amp;color=white&amp;theme=light" type="text/html" frameborder="0" allowfullscreen="allowfullscreen"></iframe><span class="caption">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
            </div>
            <div class="quote"><span class="quoted-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </span><span class="slug">- Slug line</span></div>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
              It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
          </div>
        </div>
      </div>
      <div class="kiwi-col l-1-4 s-1">
        <div class="right-block">
          <div class="right-block-elem dynamic-bg">
            <div class="p20">
              <h3>Lorem Ipsum</h3>
              <p class="text-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.<span class="tel">(333) 000-000-000</span></p>
            </div>
          </div>
          <div class="right-block-elem dynamic-bg"><img src="./static/img/featured-location/locate-right.png" alt=""/>
            <div class="p20">
              <p class="text-content"><a href="#" class="locate-link">Locate a facility</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="./static/js/swipe.js"></script>
<script src="./static/js/featured-location.js"></script>