
<div anchor-name="search_facilities" class="map-container">
  <div class="gb-content-width p20">
    <h2>Find a Facility</h2>
    <form class="find-facility-form">
      <div class="map-container-search">
        <div class="map-container-search-td">
          <label for="name">Facility Name</label>
          <div class="input-container">
            <input id="name" type="text" name="name" class="name-input"/>
          </div>
        </div>
        <div class="map-container-search-td">
          <label for="zip" class="zip-label">City, State or ZIP</label>
          <div class="input-container">
            <input id="zip" type="text" name="zip" class="zip-input"/>
          </div>
        </div>
        <div class="map-container-search-td">
          <label for="distance">Distance</label>
          <div class="input-container">
            <div class="custom-select"><span>10 miles</span>
              <div class="g-icon icon-arrow-67"></div>
              <select id="distance" name="distance" class="distance-input">
                <option selected="selected">10 miles</option>
                <option>30 miles</option>
                <option>50 miles</option>
                <option>100 miles</option>
                <option>300 miles</option>
                <option>500 miles</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <h4 class="map-container-error-message">You need to provide a location at least</h4>
      <div class="map-container-facility-search">
        <button>Locate a facility</button>
      </div>
      <p class="map-container-facility-info">Lorem Ipsum is simply dummy text</p>
      <div class="map-container-facility-type">
        <div data-type="m" tabindex="0" role="checkbox" aria-checked="true" name="M_type" id="M_type" class="map-container-facility-type-td color-18a19a active">
          <div class="icon-top"></div>
          <div class="map-container-facility-type-td-type">M</div>
          <label class="map-container-facility-type-td-detail">Medical Office Buildings</label>
        </div>
        <div data-type="h" tabindex="0" role="checkbox" aria-checked="true" name="H_type" id="H_type" class="map-container-facility-type-td color-49742c active">
          <div class="icon-top"></div>
          <div class="map-container-facility-type-td-type">H</div>
          <label for="H_type" class="map-container-facility-type-td-detail">Hospitals</label>
        </div>
        <div data-type="p" tabindex="0" role="checkbox" aria-checked="true" name="P_type" id="P_type" class="map-container-facility-type-td color-463290 active">
          <div class="icon-top"></div>
          <div class="map-container-facility-type-td-type">P</div>
          <label for="P_type" class="map-container-facility-type-td-detail">Pharmacies</label>
        </div>
        <div data-type="ah" tabindex="0" role="checkbox" aria-checked="true" name="AH_type" id="AH_type" class="map-container-facility-type-td color-b81a54 active">
          <div class="icon-top"></div>
          <div class="map-container-facility-type-td-type">AH</div>
          <label for="AH_type" class="map-container-facility-type-td-detail">After Hour Centers</label>
        </div>
        <div data-type="o" tabindex="0" role="checkbox" aria-checked="true" name="O_type" id="O_type" class="map-container-facility-type-td color-e6661f active">
          <div class="icon-top"></div>
          <div class="map-container-facility-type-td-type">O</div>
          <label for="O_type" class="map-container-facility-type-td-detail">Other Centers</label>
        </div>
      </div>
    </form>
  </div>
  <div class="map-container-map">
    <div class="map-layer-display">
      <ul>
        <li data-type="map" class="active"><a href="javascript:;" role="button" aria-label="Map View Selected">MAP</a></li>
        <li data-type="list"><a href="javascript:;" role="button" aria-label="List view Unselected">LIST</a></li>
      </ul>
    </div>
    <div class="map-list-location-container">
      <h3 class="map-list-location-results"><span>0</span> Results</h3>
      <ul></ul>
      <div class="nav-block">
        <div class="go-previous"><span class="g-icon icon-arrow-65"> </span>Previous</div>
        <div class="go-next">Next<span class="g-icon icon-arrow-66"></span></div>
        <div class="kiwi-visible-s"><a href="#search_facilities" class="new-research">New research</a></div>
      </div>
    </div>
    <div id="map"></div>
  </div>
</div>
<script type="x-template" template-name="map-list-location-block">
  <li class="map-list-location-block">
    <div class="icon-content"><img src="##icon##" alt=""/></div>
    <div class="text-content">
      <h3>##official_name##</h3>
      <p>
        ##street##<br>
        ##city##, ##state## ##zip##<br><a href="##url##" target="_blank" class="view-more">View details<span class="ext-link l-offscreen">. external link</span></a>
      </p>
    </div>
  </li>
</script>
<script type="x-template" template-name="map-list-location-block-list-only">
  <li class="map-list-location-block">
    <div class="icon-content"><img src="##icon##" alt=""/></div>
    <div class="text-content">
      <h3>##official_name##</h3>
      <p>##street##, ##city##, ##state## ##zip##<br><a href="##url##" target="_blank" class="view-more">View details<span class="ext-link l-offscreen">. external link</span></a></p>
    </div>
  </li>
</script>