
<div class="first-block">
  <p class="location dynamic-bg">Discover Kaiser Permanents in:</p>
  <div class="area-selector-container">
    <div data-js-ada-region-select="data-js-ada-region-select" role="application" aria-label="Region selection listbox" class="select-container dynamic-border">
      <div class="arrow-bg"></div>
      <label for="location_select_top">Select a Region</label>
      <select id="location_select_top" title="Select a Region">
        <option>Northern California</option>
        <option>Southern California</option>
        <option>Colorado</option>
        <option>Georgia</option>
        <option>Hawaii</option>
        <option>Northwest</option>
        <option>Mid-Atlantic States</option>
      </select>
      <button role="listbox" tabindex="0" aria-expanded="false" aria-controls="dynamicBorder" aria-label="Select a Region" class="select-region-button"></button><span class="js-selected-region-name link-select-region dynamic-color">City name<i aria-hidden="true" class="arrow-icon"></i></span><span aria-hidden="true" id="region-label" class="l-offscreen">Select a Region</span>
      <div class="ul-bg js-presentation-ul"></div>
      <ul id="dynamicBorder" aria-hidden="true" class="dynamic-border js-listbox-ul">
        <li data-value="Northern California" role="presentation" class="dynamic-color"><a href="#" aria-label="Northern California link" role="option" class="dynamic-color">Northern California</a></li>
        <li data-value="Southern California" role="presentation" class="dynamic-color"><a href="#" aria-label="Southern California link" role="option" class="dynamic-color">Southern California</a></li>
        <li data-value="Colorado" role="presentation" class="dynamic-color"><a href="#" aria-label="Colorado link" role="option" class="dynamic-color">Colorado</a></li>
        <li data-value="Georgia" role="presentation" class="dynamic-color"><a href="#" aria-label="Georgia link" role="option" class="dynamic-color">Georgia</a></li>
        <li data-value="Hawaii" role="presentation" class="dynamic-color"><a href="#" aria-label="Hawaii link" role="option" class="dynamic-color">Hawaii</a></li>
        <li data-value="Northwest" role="presentation" class="dynamic-color"><a href="#" aria-label="Northwest link" role="option" class="dynamic-color">Northwest</a></li>
        <li data-value="Mid-Atlantic States" role="presentation" class="dynamic-color"><a href="#" aria-label="Mid-Atlantic States link" role="option" class="dynamic-color">Mid-Atlantic States</a></li>
      </ul>
    </div>
  </div>
  <div class="gb-bread-crumbs">
    <ol>
      <li><a href="#">Home</a><span>&gt;</span></li>
      <li class="last"><a href="#">Sub link</a></li>
    </ol>
  </div>
</div>
<div class="second-block">
  <ul>
    <li class="link-1"><a href="#">Shop Our Plons</a></li>
    <li class="link-2"><a href="#">Find a Doctor</a></li>
    <li class="link-3"><a href="#">Locate Facility</a></li>
    <li class="link-4"><a href="#">Urgent Care</a></li>
  </ul>
</div>
<div class="third-block">
  <div class="gb-content-width p40">
    <h1>Facilities in Hawaii</h1>
  </div>
</div>
<section class="slider-content">
  <div class="gb-content-width p20">
    <div class="slider-container"><a href="#" title="Previous slide" class="go-prev"><span class="icon-arrow-65"></span></a><a href="#" title="Next slide" class="go-next"><span class="icon-arrow-66"></span></a>
      <div id="slider" class="swipe">
        <div class="swipe-wrap">
          <div class="slide-holder">
            <div class="slide-holder-table dynamic-bg">
              <div class="picture-holder"><img src="./static/img/locate-facility/slider.png" alt=""/></div>
              <div class="text-holder">
                <p>Lorem Ipsum<br/>is simply</p>
              </div>
            </div>
          </div>
          <div class="slide-holder">
            <div class="slide-holder-table dynamic-bg">
              <div class="picture-holder"><img src="./static/img/locate-facility/slider.png" alt=""/></div>
              <div class="text-holder">
                <p>Lorem Ipsum<br/>is simply</p>
              </div>
            </div>
          </div>
          <div class="slide-holder">
            <div class="slide-holder-table dynamic-bg">
              <div class="picture-holder"><img src="./static/img/locate-facility/slider.png" alt=""/></div>
              <div class="text-holder">
                <p>Lorem Ipsum<br/>is simply</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dots"></div>
    </div>
    <div class="slide-bottom-text">
      <div class="gb-content-width kiwi-grid p40">
        <div class="kiwi-col l-1-2 s-1">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="kiwi-col l-1-2 s-1">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </div>
    </div>
    <div class="slide-bottom-text">
      <div class="gb-content-width kiwi-grid p40">
        <div class="kiwi-col l-1-2 s-1">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="kiwi-col l-1-2 s-1">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </div>
    </div>
    <div class="slide-bottom-text">
      <div class="gb-content-width p40">
        <h3>Lorem Ipsum is simply dummy text </h3>
        <div class="col-2-content">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br/>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially<a href="#" class="learn-more">Learn more &gt;</a>
          </p>
          <ul>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </li>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting <a href="#">industry</a>. </li>
            <li><a href="#" target="_blank">link<span class="external-link"><span class="icon-arrow-73"></span></span></a></li>
            <li><a href="#">link<span class="external-link"><span class="icon-arrow-73"></span></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section anchor-name="search_facilities" class="map-container">
  <div class="gb-content-width p20">
    <h2>Find a Facility</h2>
    <form class="find-facility-form">
      <div class="map-container-search">
        <div class="map-container-search-td">
          <label for="name">Facility Name</label>
          <div class="input-container">
            <input id="name" type="text" name="name" class="name-input"/>
          </div>
        </div>
        <div class="map-container-search-td">
          <label for="zip" class="zip-label">City, State or ZIP</label>
          <div class="input-container">
            <input id="zip" type="text" name="zip" class="zip-input"/>
          </div>
        </div>
        <div class="map-container-search-td">
          <label for="distance">Distance</label>
          <div class="input-container">
            <div class="custom-select"><span>10 miles</span>
              <div class="g-icon icon-arrow-67"></div>
              <select id="distance" name="distance" class="distance-input">
                <option selected="selected">10 miles</option>
                <option>30 miles</option>
                <option>50 miles</option>
                <option>100 miles</option>
                <option>300 miles</option>
                <option>500 miles</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <h4 class="map-container-error-message">You need to provide a location at least</h4>
      <div class="map-container-facility-search">
        <button>Locate a facility</button>
      </div>
      <p class="map-container-facility-info">Lorem Ipsum is simply dummy text</p>
      <div class="map-container-facility-type">
        <div data-type="m" class="map-container-facility-type-td color-18a19a active">
          <div class="icon-top"></div>
          <div class="map-container-facility-type-td-type">M</div>
          <label for="M_type" class="map-container-facility-type-td-detail">Medical Office Buildings</label>
          <input type="checkbox" name="M_type" id="M_type" checked="checked"/>
        </div>
        <div data-type="h" class="map-container-facility-type-td color-49742c active">
          <div class="icon-top"></div>
          <div class="map-container-facility-type-td-type">H</div>
          <label for="H_type" class="map-container-facility-type-td-detail">Hospitals</label>
          <input type="checkbox" name="H_type" id="H_type" checked="checked"/>
        </div>
        <div data-type="p" class="map-container-facility-type-td color-463290 active">
          <div class="icon-top"></div>
          <div class="map-container-facility-type-td-type">P</div>
          <label for="P_type" class="map-container-facility-type-td-detail">Pharmacies</label>
          <input type="checkbox" name="P_type" id="P_type" checked="checked"/>
        </div>
        <div data-type="ah" class="map-container-facility-type-td color-b81a54 active">
          <div class="icon-top"></div>
          <div class="map-container-facility-type-td-type">AH</div>
          <label for="AH_type" class="map-container-facility-type-td-detail">After Hour Centers</label>
          <input type="checkbox" name="AH_type" id="AH_type" checked="checked"/>
        </div>
        <div data-type="a" class="map-container-facility-type-td color-e6661f active">
          <div class="icon-top"></div>
          <div class="map-container-facility-type-td-type">A</div>
          <label for="A_type" class="map-container-facility-type-td-detail">Affiliated Centers</label>
          <input type="checkbox" name="A_type" id="A_type" checked="checked"/>
        </div>
      </div>
    </form>
  </div>
  <div class="map-container-map">
    <div class="map-layer-display">
      <ul>
        <li data-type="map" class="active">MAP</li>
        <li data-type="list">LIST</li>
      </ul>
    </div>
    <div class="map-list-location-container">
      <div class="map-list-location-results"><span>0</span> Results</div>
      <ul></ul>
      <div class="nav-block">
        <div class="go-previous"><span class="g-icon icon-arrow-65"> </span>Previous</div>
        <div class="go-next">Next<span class="g-icon icon-arrow-66"></span></div>
        <div class="kiwi-visible-s"><a href="#search_facilities" class="new-research">New research</a></div>
      </div>
    </div>
    <div id="map"></div>
  </div>
</section>
<section class="external-links-block">
  <div class="gb-content-width p20">
    <h2>Learn More About our Facilities in Hawaii</h2>
    <div class="links-block-container">
      <div class="links-block-content">
        <div class="g-icon icon-arrow-73"></div>
        <ul>
          <li><a href="#">link name 1</a></li>
          <li><a href="#">link name 2</a></li>
          <li><a href="#">link name 3</a></li>
          <li><a href="#">link name 4</a></li>
          <li><a href="#">link name 5</a></li>
          <li><a href="#">link name 6</a></li>
          <li><a href="#">link name 7</a></li>
        </ul>
      </div>
      <div class="links-block-content line-left">
        <div class="g-icon icon-arrow-73"></div>
        <ul>
          <li><a href="#">link name 1</a></li>
          <li><a href="#">link name 2</a></li>
          <li><a href="#">link name 3</a></li>
          <li><a href="#">link name 4</a></li>
          <li><a href="#">link name 5</a></li>
          <li><a href="#">link name 6</a></li>
          <li><a href="#">link name 7</a></li>
        </ul>
      </div>
      <div class="links-block-content line-left">
        <div class="g-icon icon-arrow-73"></div>
        <ul>
          <li><a href="#">link name 1</a></li>
          <li><a href="#">link name 2</a></li>
          <li><a href="#">link name 3</a></li>
          <li><a href="#">link name 4</a></li>
          <li><a href="#">link name 5</a></li>
          <li><a href="#">link name 6</a></li>
          <li><a href="#">link name 7</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<script type="x-template" template-name="map-list-location-block">
  <li class="map-list-location-block">
    <div class="icon-content"><img src="##icon##" alt=""/></div>
    <div class="text-content">
      <h3>##official_name##</h3>
      <p>
        ##street##<br>
        ##city##, ##state## ##zip##<br><a href="##url##" target="_blank" class="view-more">View details</a>
      </p>
    </div>
  </li>
</script>
<script type="x-template" template-name="map-list-location-block-list-only">
  <li class="map-list-location-block">
    <div class="icon-content"><img src="##icon##"/></div>
    <div class="text-content">
      <h3>##official_name##</h3>
      <p>##street##, ##city##, ##state## ##zip##<br><a href="##url##" target="_blank" class="view-more">View details</a></p>
    </div>
  </li>
</script>
<script src="https://maps.google.com/maps/api/js?sensor=true"></script>
<script src="./static/js/swipe.js"></script>
<script src="./static/js/initMap.js"></script>
<script src="./static/js/locate-facility.js"></script>