<a href="#" class="gb-back-button dynamic-bg"> <span>&lsaquo;</span>Back</a>
<div class="first-block">
  <p class="location dynamic-bg">Discover Kaiser Permanents in:</p>
  <div class="area-selector-container">
    <div data-js-ada-region-select="data-js-ada-region-select" role="application" aria-label="Region selection listbox" class="select-container dynamic-border">
      <div class="arrow-bg"></div>
      <label for="location_select_top">Select a Region</label>
      <select id="location_select_top" title="Select a Region">
        <option>Northern California</option>
        <option>Southern California</option>
        <option>Colorado</option>
        <option>Georgia</option>
        <option>Hawaii</option>
        <option>Northwest</option>
        <option>Mid-Atlantic States</option>
      </select>
      <button role="listbox" tabindex="0" aria-expanded="false" aria-controls="dynamicBorder" aria-label="Select a Region" class="select-region-button"></button><span class="js-selected-region-name link-select-region dynamic-color">City name<i aria-hidden="true" class="arrow-icon"></i></span><span aria-hidden="true" id="region-label" class="l-offscreen">Select a Region</span>
      <div class="ul-bg js-presentation-ul"></div>
      <ul id="dynamicBorder" aria-hidden="true" class="dynamic-border js-listbox-ul">
        <li data-value="Northern California" role="presentation" class="dynamic-color"><a href="#" aria-label="Northern California link" role="option" class="dynamic-color">Northern California</a></li>
        <li data-value="Southern California" role="presentation" class="dynamic-color"><a href="#" aria-label="Southern California link" role="option" class="dynamic-color">Southern California</a></li>
        <li data-value="Colorado" role="presentation" class="dynamic-color"><a href="#" aria-label="Colorado link" role="option" class="dynamic-color">Colorado</a></li>
        <li data-value="Georgia" role="presentation" class="dynamic-color"><a href="#" aria-label="Georgia link" role="option" class="dynamic-color">Georgia</a></li>
        <li data-value="Hawaii" role="presentation" class="dynamic-color"><a href="#" aria-label="Hawaii link" role="option" class="dynamic-color">Hawaii</a></li>
        <li data-value="Northwest" role="presentation" class="dynamic-color"><a href="#" aria-label="Northwest link" role="option" class="dynamic-color">Northwest</a></li>
        <li data-value="Mid-Atlantic States" role="presentation" class="dynamic-color"><a href="#" aria-label="Mid-Atlantic States link" role="option" class="dynamic-color">Mid-Atlantic States</a></li>
      </ul>
    </div>
  </div>
  <div class="gb-bread-crumbs">
    <ol>
      <li><a href="#">Home</a><span>&gt;</span></li>
      <li class="last"><a href="#">Sub link</a></li>
    </ol>
  </div>
</div>
<div class="third-block">
  <div class="gb-content-width p20"><img src="./static/img/shop-kp/shop-kp-logo.png"/>
    <h1 class="dynamic-color">Let`s talk about your health care coverage, Northern California</h1>
    <p class="lange-change"><a href="http://vivabien.kaiserpermanente.org/en-el-area-del-norte-de-california/shop-kp" title="Ver En Español">Ver En Español &gt;</a></p>
    <p class="g-sub-title">Shop KP offers seminars, events, and one-on-one appointments with in-person advice and expertise to help you choose the right health coverage.</p><a href="#" class="button">Make an Appointment</a>
    <p class="g-sub-title">Or, just stop in at one of our Shop KP stores below.</p>
  </div>
</div>
<div class="block services-block">
  <div class="gb-content-width p20"> 
    <div class="kp-events">
      <div class="kp-event-big">
        <div class="picture"><img src="./static/img/shop-kp/expect-shop.png" alt="expect at Shop KP"/></div>
        <div class="text">
          <h2>What to expect at Shop KP</h2>
          <div class="hr">
            <hr/>
          </div>
          <div class="text-content">
            <h2 class="txt-normal">Health Care & You Seminars</h2>
            <p class="caption">Find a small group seminar in your neighborhood to learn about KP coverage options and our specialists will help you with your questions.</p>
            <h2 class="txt-normal">Enrollment Events</h2>
            <p>At Kaiser Permanent, we believe that living well is being well, which is why we`re here to help keep you healthy and informed. Check out our ongoing events at Northern California locations.</p>
            <h2 class="txt-normal">one-on-one</h2>
            <p>You`re unique. Make a one-on-one appointment with a representative to get your questions answered in person.</p>
          </div>
        </div>
      </div>
      <div class="kp-event">
        <div class="picture"><img src="./static/img/shop-kp/slide.png" alt="slide"/></div>
        <div class="text">
          <h2>Open enrollment re-opens in November 2015</h2><span class="caption">The next open enrollment period will be here before you know it. You can change or apply for coverage before November 2015 if you have a triggering event, such as marriage or birth.</span>
          <p><a href="#" aria-haspopup="true" aria-expanded="false" aria-controls="trigger-event" class="trigger">what's triggering event ?<img src="./static/img/shop-kp/+.png" alt="collapsed"/></a></p>
          <div id="trigger-event" aria-hidden="true" class="event-content">
            <h4>Triggering Events</h4>
            <p>You may change or apply for health care coverage during an annual open enrollment period.</p><strong>Outside of the open enrollment period you can enroll or change your coverage only if you have experienced a  situation known as a triggering envent.</strong>
            <p>For example . if you get married , have  a baby , or lose coveraget because you lose your job - all triggering events - you will have a special enrollment period.</p>
            <p>A special enrollment period lasts 60 days after the triggering event occurs. That means if you've experienced a triggering events - you will have 60 days from the day of triggering event to change or apply for health care converage for yourselef and/or your dependent.</p>
            <div class="trigger-events-examples">
              <h4>Examples of Triggering Events are:</h4>
              <ul>
                <li>Loss of health care coverage due to job Loss</li>
                <li>Gaining or becoming dependent</li>
                <li>Permanent move so that you have different choices in health care plans</li>
                <li>Change in eligbility for federal financial assistance through Covered southern-california</li>
                <li>Employer health coverage changes that impace your eligibility for federal financial assistance</li>
              </ul>
            </div>
            <div class="trigger-event-help"><img src="undefined/static/img/shop-kp/help-trigger-event.png" alt="help trigger event" class="help-img"/>
              <div class="help-text">
                <h4>Have you experienced a Triggering Event?<br>We can help you choose the right coverage.</h4>
                <p> <a href="#">Make an appointment to meet with a representative ></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fourth-block">
  <div class="started-block">
    <div class="gb-content-width p20"><div class="our-locations-block"><h2>Shop KP Stores</h2><p>At our Shop KP stores you don’t need an appointment. Come see us to find the plan that is right for you and your family.</p>
    <div class="note"><p>Please note: No medical services are provided in our Shop KP stores.</p>
    </div></div><section class="locations-block"><div class="kiwi-grid table"><div class="kiwi-col l-1-3 s-1"><div class="location-elem"><h3>Northwest Center</h3><p>3676 W. Shaw Ave.<br>Fresno, CA 93711</p><p class="bold">559-274-9473</p></div><div class="period-elem"><p>Mon – Sat: 9 am – 6 pm, <br>Sunday: 10 am – 6 pm</p><a href="https://www.google.com/maps/place/3676+W+Shaw+Ave,+Fresno,+CA+93711/@36.808335,-119.8586679,17z/data=!3m1!4b1!4m2!3m1!1s0x8094661883f74143:0xc25db649f6852966" class="is-external" target="_blank" title="View Northwest Center's Map">View Northwest Center's Map<span class="l-offscreen">external page</span></a></div></div><div class="kiwi-col l-1-3 s-1"><div class="location-elem"><h3>The Plant Shopping Center</h3><p>111 Curtner Ave., #60<br>San Jose, CA 95125</p><p class="bold">408-280-7247</p></div><div class="period-elem"><p>Mon – Sat: 9 am – 6 pm, <br>Sunday: 10 am – 6 pm</p><a href="https://www.google.com/maps/preview?q=111+Curtner+Ave.,+%2360+San+Jose,+CA+95125&amp;ie=UTF-8&amp;hq=&amp;hnear=0x808e331a54f6de0d:0xcb944295db880c99,111+Curtner+Ave+%2360,+San+Jose,+CA+95125&amp;gl=us&amp;ei=_d7kU9rNLbG-sQTgo4DgBA&amp;ved=0CBwQ8gEwAA" class="is-external" target="_blank" title="View The Plant Shopping Center Map">View The Plant Shopping Center Map<span class="l-offscreen">external page</span></a></div></div><div class="kiwi-col l-1-3 s-1"><div class="location-elem"><h3>Florin Towne Center</h3><p>6035 Florin Road, Suite 200<br>Sacramento, CA 95823</p><p class="bold">916-392-2004</p></div><div class="period-elem"><p>Mon – Sat: 9 am – 6 pm, <br>Sunday: 10 am – 6 pm</p><a href="https://www.google.com/maps/place/6035+Florin+Rd+%23200,+Florin+Towne+Centre,+Sacramento,+CA+95823/@38.4976858,-121.4353237,17z/data=!3m1!4b1!4m2!3m1!1s0x809ac57accdb9d67:0x8e2e3f22210bafd3" class="is-external" target="_blank" title="View Florin Towne Center Map">View Florin Towne Center Map<span class="l-offscreen">external page</span></a></div></div></div><div class="kiwi-grid"><div class="kiwi-col l-1-3 s-1"><div class="black-line"></div></div><div class="kiwi-col l-1-3 s-1"><div class="black-line"></div></div><div class="kiwi-col l-1-3 s-1"><div class="black-line"></div></div></div><div class="kiwi-grid table"><div class="kiwi-col l-1-3 s-1"><div class="location-elem"><h3>The Promenade at Sacramento Gateway</h3><p>3661 N. Freeway Blvd., Suite 100<br>Sacramento, CA 95834</p><p class="bold">916-928-3081</p></div><div class="period-elem"><p>Mon – Sat: 9 am – 6 pm, <br>Sunday: 10 am – 6 pm</p><a href="https://www.google.com/maps/preview?q=3661+N.+Freeway+Blvd.,+Suite+100+Sacramento,+CA+95834&amp;ie=UTF-8&amp;hq=&amp;hnear=0x809ad64a28d5606b:0x8cf5758b479f6a51,3661+N+Freeway+Blvd+%23100,+Sacramento,+CA+95834&amp;gl=us&amp;ei=Qd_kU6_cIOPMsQTzn4GwCQ&amp;ved=0CB4Q8gEwAA" class="is-external" target="_blank" title="View The Promenade at Sacramento Gateway Map">View The Promenade at Sacramento Gateway Map<span class="l-offscreen">external page</span></a></div></div><div class="kiwi-col l-1-3 s-1"><div class="location-elem"><h3>North Point Landing</h3><p>3848 McHenry Ave.,<br>Suite 325<br>Modesto, CA 95356</p><p class="bold">209-577-1974</p></div><div class="period-elem"><p>Mon – Sat: 9 am – 6 pm, <br>Sunday: 10 am – 6 pm</p><a href="https://www.google.com/maps/preview?q=3848+McHenry+Ave.,+Suite+325+Modesto,+CA+95356&amp;ie=UTF-8&amp;hq=&amp;hnear=0x8090512c17d2de33:0x50105e2f329621e3,3848+McHenry+Ave+%23325,+Modesto,+CA+95356&amp;gl=us&amp;ei=n9_kU6zlEcTgsASUoIGwCQ&amp;ved=0CC0Q8gEwAA" class="is-external" target="_blank" title="View North Point Landing Map">View North Point Landing Map<span class="l-offscreen">external page</span></a></div></div><div class="kiwi-col l-1-3 s-1"><div class="location-elem"><h3>Weberstown Mall<sup>*</sup></h3><p>4950 Pacific Ave.,<br>T-34 Stockton, CA 95207</p><p class="bold">209-409-4174</p></div><div class="period-elem"><p>Mon–Sat, 10 a.m.–9 p.m.<br>Sun, 11 a.m.–6 p.m.&nbsp;</p><a href="https://www.google.com/maps/preview?q=4950+Pacific+Ave.,+T-34+Stockton,+CA+95207&amp;ie=UTF-8&amp;hq=&amp;hnear=0x80900da833047563:0xeb43dd5a39a9f33e,4950+Pacific+Ave,+Weberstown+Mall,+Stockton,+CA+95207&amp;gl=us&amp;ei=xN_kU9-kHafKsQSI5oD4Bg&amp;ved=0CB4Q8gEwAA" class="is-external" target="_blank" title="View Weberstown Mall Map">View Weberstown Mall Map<span class="l-offscreen">external page</span></a></div></div></div><div class="kiwi-grid"><div class="kiwi-col l-1-3 s-1"><div class="black-line"></div></div><div class="kiwi-col l-1-3 s-1"><div class="black-line"></div></div><div class="kiwi-col l-1-3 s-1"><div class="black-line"></div></div></div><div class="kiwi-grid table"><div class="kiwi-col l-1-3 s-1"><div class="location-elem"><h3>Skywest Commons</h3><p>20503 Hesperian Blvd.<br>Hayward, CA 94541</p><p class="bold">510-675-3060</p></div><div class="period-elem"><p>Mon – Sat: 9 am – 6 pm, <br>Sunday: 10 am – 6 pm</p><a href="https://www.google.com/maps/preview?q=20503+Hesperian+Blvd.+Hayward,+CA+94541&amp;ie=UTF-8&amp;hq=&amp;hnear=0x808f91059d7d4bd5:0xceef1be80c2b49a5,20503+Hesperian+Blvd,+Hayward,+CA+94541&amp;gl=us&amp;ei=0d_kU-6DCfG_sQSu6YLYDA&amp;ved=0CB4Q8gEwAA" class="is-external" target="_blank" title="View Skywest Commons<br/> Map">View Skywest Commons<span class="l-offscreen">external page</span><br> Map</a></div></div><div class="kiwi-col l-1-3 s-1"><div class="location-elem"><h3>Pinole Vista Crossing</h3><p>1354 Fitzgerald Drive<br>Pinole, CA 94564</p><p class="bold">510-243-4153</p></div><div class="period-elem"><p>Mon – Sat: 9 am – 6 pm, <br>Sunday: 10 am – 6 pm</p><a href="https://www.google.com/maps/preview?q=1354+Fitzgerald+Drive+Pinole,+CA+94564&amp;ie=UTF-8&amp;hq=&amp;hnear=0x80857704397f51ed:0xc56597f97e2fbed0,1354+Fitzgerald+Dr,+Pinole+Vista+Shopping+Center,+Pinole,+CA+94564&amp;gl=us&amp;ei=29_kU_G4DvHmsATe74DwCQ&amp;ved=0CB4Q8gEwAA" class="is-external" target="_blank" title="View Pinole Vista Crossing Map">View Pinole Vista Crossing Map<span class="l-offscreen">external page</span></a></div></div><div class="kiwi-col l-1-3 s-1"></div></div></section><p class="bottom-info">*Health plan enrollment services are not available at this location.</p></div>
  </div>
</div>
<script>
  $(function(){
    $(".trigger").on("click", function (e) {
      var $content = $(this).parent().next (".event-content");
      var expanded = $content.is(':visible');
  
      // hide/show content
      if (expanded) {
      $content.slideUp();
  
      } else {
        $content.slideDown();
      }
      $(this).find ("img").attr ({
        "src":
        (expanded)? paths.img + "shop-kp/+.png" : paths.img + "shop-kp/_.png",
        "alt":
        (expanded)? "collapsed" : "expanded"
        });
      return false;
    })
  })  
</script>