<a href="#" class="gb-back-button dynamic-bg"> <span>&lsaquo;</span>Back</a>
<h1 class="mobile dynamic-color">Urgent Care</h1>
<div class="first-block">
  <p class="location dynamic-bg">Discover Kaiser Permanents in:</p>
  <div class="area-selector-container">
    <div data-js-ada-region-select="data-js-ada-region-select" role="application" aria-label="Region selection listbox" class="select-container dynamic-border">
      <div class="arrow-bg"></div>
      <label for="location_select_top">Select a Region</label>
      <select id="location_select_top" title="Select a Region">
        <option>Northern California</option>
        <option>Southern California</option>
        <option>Colorado</option>
        <option>Georgia</option>
        <option>Hawaii</option>
        <option>Northwest</option>
        <option>Mid-Atlantic States</option>
      </select>
      <button role="listbox" tabindex="0" aria-expanded="false" aria-controls="dynamicBorder" aria-label="Select a Region" class="select-region-button"></button><span class="js-selected-region-name link-select-region dynamic-color">City name<i aria-hidden="true" class="arrow-icon"></i></span><span aria-hidden="true" id="region-label" class="l-offscreen">Select a Region</span>
      <div class="ul-bg js-presentation-ul"></div>
      <ul id="dynamicBorder" aria-hidden="true" class="dynamic-border js-listbox-ul">
        <li data-value="Northern California" role="presentation" class="dynamic-color"><a href="#" aria-label="Northern California link" role="option" class="dynamic-color">Northern California</a></li>
        <li data-value="Southern California" role="presentation" class="dynamic-color"><a href="#" aria-label="Southern California link" role="option" class="dynamic-color">Southern California</a></li>
        <li data-value="Colorado" role="presentation" class="dynamic-color"><a href="#" aria-label="Colorado link" role="option" class="dynamic-color">Colorado</a></li>
        <li data-value="Georgia" role="presentation" class="dynamic-color"><a href="#" aria-label="Georgia link" role="option" class="dynamic-color">Georgia</a></li>
        <li data-value="Hawaii" role="presentation" class="dynamic-color"><a href="#" aria-label="Hawaii link" role="option" class="dynamic-color">Hawaii</a></li>
        <li data-value="Northwest" role="presentation" class="dynamic-color"><a href="#" aria-label="Northwest link" role="option" class="dynamic-color">Northwest</a></li>
        <li data-value="Mid-Atlantic States" role="presentation" class="dynamic-color"><a href="#" aria-label="Mid-Atlantic States link" role="option" class="dynamic-color">Mid-Atlantic States</a></li>
      </ul>
    </div>
  </div>
  <div class="gb-bread-crumbs">
    <ol>
      <li><a href="#">Home</a><span>&gt;</span></li>
      <li class="last"><a href="#">Sub link</a></li>
    </ol>
  </div>
</div>
<div class="second-block">
  <ul>
    <li class="link-1"><a href="#">Shop Our Plons</a></li>
    <li class="link-2"><a href="#">Find a Doctor</a></li>
    <li class="link-3"><a href="#">Locate Facility</a></li>
    <li class="link-4"><a href="#">Urgent Care</a></li>
  </ul>
</div>
<div class="third-block">
  <div class="gb-content-width p40">
    <h1>We're Here for our Members, Night and  Day<span class="phone">1-111-111-111</span>or 1-111-111-111 fot TTY</h1>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
      when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    </p>
  </div>
</div>
<div class="gb-content-width p40">
  <section class="block-info">
    <div class="icon-container">
      <div class="g-icon"><img src="./static/img/icons/blue/time.png" alt=""/></div>
    </div>
    <div class="title-container">
      <h2>After House Care</h2>
      <div class="blue-line"></div>
    </div>
    <div class="text-container">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      </p>
      <p class="bold">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
      </p>
    </div>
  </section>
  <section class="block-info">
    <div class="icon-container">
      <div class="g-icon"><img src="./static/img/icons/blue/warning.png" alt=""/></div>
    </div>
    <div class="title-container">
      <h2>After House Care</h2>
      <div class="blue-line"></div>
    </div>
    <div class="text-container">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      </p>
      <h3>Title</h3>
      <ul>
        <li>Video chat advice with a doctor, using your computer or mobile device (for certain medical conditions).</li>
        <li>The caregiver you speak with has your medical record information on hand, including your medications, conditions, recent treatments and doctor visits, and more</li>
        <li>Information from the call is immediately entered into your medical record</li>
        <li>No copay or coinsurance</li>
        <li>Members may call 24/7: 1-800-777-7904 (TTY 1-800-700-4901).</li>
      </ul>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially <a href="#">unchanged</a>.
      </p>
    </div>
  </section>
  <section class="block-info">
    <div class="icon-container">
      <div class="g-icon"><img src="./static/img/icons/blue/icon4.png" alt=""/></div>
    </div>
    <div class="title-container">
      <h2>After House Care</h2>
      <div class="blue-line"></div>
    </div>
    <div class="text-container">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      </p>
      <p class="bold">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
      </p>
    </div>
  </section>
</div>