
<div id="footer">
  <div class="container">
    <div class="nav-column"><a name="h-footer-label" tabindex="-1" id="h-footer-label" class="l-offscreen">Footer navigation</a>
      <div role="navigation" aria-labelledby="h-footer1" class="col hidden-s">
        <h4 id="h-footer1">Learn More</h4>
        <ul>
          <li><a href="#">Shop Our Plans</a></li>
          <li><a href="#">Easier Health Care</a></li>
          <li><a href="#">Healthier Outcomes</a></li>
          <li><a href="#">Thrive Together</a></li>
        </ul>
      </div>
      <div role="navigation" aria-labelledby="h-footer2" class="col hidden-s">
        <h4 id="h-footer2">Our Regions</h4>
        <ul>
          <li><a href="#">Northern California</a></li>
          <li><a href="#">Southern California</a></li>
          <li><a href="#">Northern Colorado</a></li>
          <li><a href="#">Southern Colorado</a></li>
          <li><a href="#">Colorado-Denver/Boulder</a></li>
        </ul>
      </div>
      <div role="navigation" aria-labelledby="h-footer3" class="col hidden-s"> 
        <h4></h4>
        <ul>
          <li><a href="#">Georgia</a></li>
          <li><a href="#">Hawaii</a></li>
          <li><a href="#">Mid-Atlantic States</a></li>
          <li><a href="#">Northwest</a></li>
        </ul>
      </div>
      <div role="navigation" aria-labelledby="h-footer4" class="col hidden-s is-external">
        <h4 id="h-footer3">Visit Our Other Sites  </h4>
        <ul>
          <li><a href="#" target="_blank" class="arrow-white">
               
              KP.org<span class="ext-link l-offscreen">external page</span></a></li>
          <li><a href="#" target="_blank">Individual & Family Plans</a></li>
          <li><a href="#" target="_blank">For Businesses</a></li>
          <li><a href="#" target="_blank">Medicare</a></li>
          <li><a href="#" target="_blank">Health Care Reform</a></li>
          <li><a href="#" target="_blank">Careers</a></li>
          <li><a href="#" target="_blank">About Us</a></li>
        </ul>
      </div>
      <div role="navigation" aria-labelledby="h-footer5" class="col is-external">
        <h4 id="h-footer4" class="hidden-s">Legal</h4>
        <ul>
          <li><a href="#" target="_blank" class="arrow-white">
               
              Accessibility<span class="ext-link l-offscreen">external page</span></a></li>
          <li><a href="#" target="_blank">Terms & Conditions</a></li>
          <li><a href="#" target="_blank">Technical Information</a></li>
          <li><a href="#" target="_blank">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <div role="contentinfo" aria-label="Copyright information" class="copy-block"><span aria-hidden="true" class="l-offscreen">Copyright information</span>
      <div class="copyright">© 2015 Kaiser Permanente</div>
      <p class="declare">Most features are available only to members receiving care at Kaiser Permanente medical facilities.</p>
      <p class="declare">Kaiser Permanente health plans around the country: Kaiser Foundation Health Plan, Inc., in Northern and Northern California and Hawaii • Kaiser Foundation Health Plan of Colorado • Kaiser Foundation Health Plan of Georgia, Inc., Nine Piedmont Center, 3495 Piedmont Road NE, Atlanta, GA 30305, 404-364-7000 • Kaiser Foundation Health Plan of the Mid-Atlantic States, Inc., in Maryland, Virginia, and Washington, D.C., 2101 E. Jefferson St., Rockville, MD 20852 • Kaiser Foundation Health Plan of the Northwest, 500 NE Multnomah St., Suite 100, Portland, OR</p>
    </div>
  </div>
</div>