
<head>
  <title>
  </title>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="description" content="Front-End templates for kp-ncal"/>
  <meta name="keywords" content=""/>
  <meta name="author" content=""/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link rel="stylesheet" href="styles/main.css"/><!--[if lt IE 9]>
  <script src="scripts/html5shiv.min.js"></script>
  <![endif]-->
</head>